@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Inter:wght@100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --font-family-secondary: "Times Now", serif;
    --font-family-primary: "Helvetica Neue Web", sans-serif;
    --primary-color: #053573;

}

.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

.old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
}

.old-standard-tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 300;
    font-style: italic;
    line-height: 40px;
}


.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.darker-grotesque-font {
    font-family: "Darker Grotesque", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #000;
    color: #fff;
}

.primary-font {
    font-family: var(--font-family-primary) !important;
}

.secondary-font {
    font-family: var(--font-family-secondary) !important;
}

.primary-clr {
    color: var(--primary-color);
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-26 {
    font-size: 26px;
}

.fs-28 {
    font-size: 28px;
}

.fs-30 {
    font-size: 30px;
}

.fs-32 {
    font-size: 32px;
}

.fs-34 {
    font-size: 34px;
}

.fs-36 {
    font-size: 36px;
}

.fs-38 {
    font-size: 38px;
}

.fs-40 {
    font-size: 40px;
}

.fs-42 {
    font-size: 42px;
}

.fs-44 {
    font-size: 44px;
}

.fs-46 {
    font-size: 46px;
}

.fs-48 {
    font-size: 48px;
}

.fs-50 {
    font-size: 50px;
}

.fs-64 {
    font-size: 64px;
}

.fs-70 {
    font-size: 70px;
}

.custom-link {
    color: #fff;
    text-decoration: none;
}

.primary-font {
    font-family: var(--font-family-primary) !important;
}

.padding-1px {
    padding: 1px;
}

.text-decoration-none {
    text-decoration: none !important;
}


/* ============== Navbar ============= */
.custom-navbar ul {
    list-style-type: none !important;
}

.custom-navbar ul {
    list-style-type: none !important;
}

.custom-navbar ul li a {
    color: #fff !important;
    font-family: var(--font-family-primary);
    text-decoration: none;
    font-weight: 300;
    font-size: 0.9rem;
}

.banner-container {
    height: 100vh;
    background: url('../images/banner/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-text-clr {
    color: #1557AB;
}

.banner {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-20%, -40%);
}


/* ============== Department BAnner ============= */
.banner-text {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-20%, -40%);

}

/* ================== Footer ====================== */

footer ul {
    display: flex;
    gap: 50px;
    color: #fff;
}

.footer-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-socail ul {
    list-style: none;
    gap: 20px;
}

.footer-socail ul li a {
    color: #fff;
    text-decoration: none;
}

.btn-custom {
    background-color: #fff;
    color: #000;
}

.btn-custom:hover {
    background-color: aliceblue;
    color: #000;
}

/* ============== Subscribe ============= */
.subscribe-input{
    background-color: #fff;
    color: #000;
}

.subscribe-input:focus {
    outline: none;
    box-shadow: none;
}